<div class="card border-dark bg-light">
  <div class="card-header">
    <%= gettext "Welcome to %{name}!", name: "Hangman" %>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <%= render "_gallows.html", left: @game.turns %>
      </div>

      <div class="col-10">
        <%= if show_status?(@game.state) do %>
          <div class="alert alert-<%= alert_class(@game.state) %>">
            <%= status_message(@game.state) %>
          </div>
        <% end %>
        <form>
          <div class="row form-group mb-0">
            <label for="turns" class="col-2 col-form-label-sm">turns:</label>
            <div class="col-10">
              <input
                 readonly
                 type  = "text"
                 id    = "turns"
                 class = "form-control-plaintext form-control-sm"
                 value = <%= @game.turns %>
               />
            </div>
          </div>

          <div class="row form-group">
            <label for="word" class="col-2 col-form-label-sm">word:</label>
            <div class="col-10">
              <input
                 readonly
                 type  = "text"
                 id    = "word"
                 class = "form-control-plaintext form-control-sm"
                 value = "<%= join_letters(@game.letters)  %>"
               />
            </div>
          </div>

          <div class="row form-group">
            <label for="guesses" class="col-2 col-form-label-sm">guesses:</label>
            <div class="col-10">
              <input
                 readonly
                 type  = "text"
                 id    = "guesses"
                 class = "form-control-plaintext form-control-sm"
                 value = "<%= join_letters(@game.used)  %>"
               />
            </div>
          </div>
        </form>

        <%= if Enum.member?([:won, :lost], @game.state) do %>
          <%= if @game.state == :lost do %>
            <div class="col-12">
              The word was: <%= @game.word %>
            </div>
          <% end %>

          <%= button("New Game", to: hangman_path(@conn, :new), class: "btn btn-primary") %>
        <% else %>
          <%= form_for(@conn, hangman_path(@conn, :update), [ as: :move, method: :put], fn f -> %>
            <div class="form-row">
              <div class="col-1">
                <%= text_input(f, :letter, maxlength: 1, autofocus: true, class: "form-control") %>
              </div>

              <div class="col-8">
                <%= submit("Guess!", class: "btn btn-success") %>
              </div>
            </div>
          <% end) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
